* {
  box-sizing: border-box;
}
:host {
  --scrollbar-width: 16px;
  --scrollbar-padding: 2px;

  --scrollbar-track-fill-color: transparent;
  --scrollbar-track-fill-color-hover: var(--scrollbar-track-fill-color);

  --scrollbar-thumb-fill-color: #ccc;
  --scrollbar-thumb-fill-color-hover: #aaa;
  --scrollbar-thumb-fill-color-active: var(--scrollbar-thumb-fill-color-hover);

  --content-padding: 0;

  --content-z-index: 0;
  --scrollbar-z-index: 10;
  --scrollbar-z-index-hover: 20;

  --fade-in-transition-duration: 150ms;
  --fade-out-transition-duration: 800ms;
  --fade-out-transition-delay: 300ms;
  --fill-color-transition-duration: 150ms;

  --content-column-width: 1fr;
  --content-row-height: 1fr;

  contain: content;
  display: grid !important;
  padding: 0 !important;
  grid-template-columns: var(--content-column-width) 0;
  grid-template-rows: var(--content-row-height) 0;
  overflow: auto;
  scrollbar-width: none;
}
:host::-webkit-scrollbar {
  width: 0;
  height: 0;
}
:host([hidden]) {
  display: none !important;
}
:host(.overflow-x-hidden) {
  --content-column-width: 100%;
}
:host(.overflow-y-hidden) {
  --content-row-height: 100%;
}

/* Content */
.content-wrapper {
  z-index: var(--content-z-index);
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1;
}
.content {
  flex-grow: 1;
  padding: var(--content-padding);
}

/* Scrollbar's wrapper */
.scrollbar-wrapper {
  z-index: var(--scrollbar-z-index);
  position: sticky;
}
.scrollbar-wrapper:hover {
  z-index: var(--scrollbar-z-index-hover);
}
.vertical-scrollbar-wrapper {
  grid-area: 1 / 2;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
}
.horizontal-scrollbar-wrapper {
  grid-area: 2 / 1;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
}

/* Scrollbar */
.scrollbar {
  contain: strict;
  user-select: none;
  touch-action: none;
  position: absolute;
  opacity: 0;
  padding: var(--scrollbar-padding);
  transform: translate3d(0, 0, 0);
  transition: opacity var(--fade-out-transition-duration) ease-in-out var(--fade-out-transition-delay), background-color var(--fill-color-transition-duration) ease-out;
}
.vertical-scrollbar {
  top: 0;
  right: 0;
  width: var(--scrollbar-width);
  height: var(--viewport-height);
}
.horizontal-scrollbar {
  bottom: 0;
  left: 0;
  height: var(--scrollbar-width);
  width: var(--viewport-width);
}
.scrollbar:hover,
:host(:hover) .scrollbar,
:host(:focus-within) .scrollbar,
:host(.touch) .scrollbar {
  opacity: 1;
  transition: opacity var(--fade-in-transition-duration) ease-in-out 0s, background-color var(--fill-color-transition-duration) ease-out;
}
.scrollbar.hidden {
  display: none;
}

/* Scrollbar's strack */
.scrollbar-track {
  height: 100%;
  width: 100%;
  background-color: var(--scrollbar-track-fill-color);
  border-radius: var(--scrollbar-width);
  transition: background-color var(--fill-color-transition-duration) ease-out;
}
.scrollbar-track:hover {
  background-color: var(--scrollbar-track-fill-color-hover);
}

/* Scrollbar's thumb */
.scrollbar-thumb {
  height: 100%;
  width: 100%;
  background-color: var(--scrollbar-thumb-fill-color);
  border-radius: var(--scrollbar-width);
  transform: translate3d(0, 0, 0);
  transition: background-color var(--fill-color-transition-duration) ease-out;
}
.scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-fill-color-hover);
}
.scrollbar-thumb.active {
  background-color: var(--scrollbar-thumb-fill-color-active);
}

/* Scrollbar visibility */
:host([scrollbar-visibility="always"]) .scrollbar {
  opacity: 1;
  transition: none;
}

/* Vertical scrollbar position */
:host([vertical-scrollbar-position="left"]) {
  grid-template-columns: 0 var(--content-column-width);
}
:host([vertical-scrollbar-position="left"]) .content-wrapper,
:host([vertical-scrollbar-position="left"]) .horizontal-scrollbar-wrapper {
  grid-column: 2;
}
:host([vertical-scrollbar-position="left"]) .vertical-scrollbar-wrapper {
  grid-column: 1;
  left: 0;
  right: initial;
}
:host([vertical-scrollbar-position="left"]) .vertical-scrollbar {
  left: 0;
  right: initial;
}

/* Horizontal scrollbar position */
:host([horizontal-scrollbar-position="top"]) {
  grid-template-rows: 0 var(--content-row-height);
}
:host([horizontal-scrollbar-position="top"]) .content-wrapper,
:host([horizontal-scrollbar-position="top"]) .vertical-scrollbar-wrapper {
  grid-row: 2;
}
:host([horizontal-scrollbar-position="top"]) .horizontal-scrollbar-wrapper {
  grid-row: 1;
  top: 0;
  bottom: initial;
}
:host([horizontal-scrollbar-position="top"]) .horizontal-scrollbar {
  top: 0;
  bottom: initial;
}

/* Scrollbar overlay */
:host([scrollbar-overlay="false"].horizontal-overflow) .content {
  margin-bottom: var(--scrollbar-width);
}
:host([scrollbar-overlay="false"].vertical-overflow) .content {
  margin-right: var(--scrollbar-width);
}
:host([scrollbar-overlay="false"][horizontal-scrollbar-position="top"].horizontal-overflow) .content {
  margin-top: var(--scrollbar-width);
  margin-bottom: 0;
}
:host([scrollbar-overlay="false"][vertical-scrollbar-position="left"].vertical-overflow) .content {
  margin-left: var(--scrollbar-width);
  margin-right: 0;
}
