* {
  box-sizing: border-box;
}
:host {
  --scrollbar-width: 16px;
  --scrollbar-padding: 2px;

  --scrollbar-track-fill-color: transparent;
  --scrollbar-track-fill-color-hover: var(--scrollbar-track-fill-color);

  --scrollbar-thumb-fill-color: #ccc;
  --scrollbar-thumb-fill-color-hover: #aaa;
  --scrollbar-thumb-fill-color-active: var(--scrollbar-thumb-fill-color-hover);

  --content-padding: 0;

  --scrollbar-z-index: 10;

  --fade-in-transition-duration: 150ms;
  --fade-out-transition-duration: 800ms;
  --fade-out-transition-delay: 300ms;
  --fill-color-transition-duration: 150ms;

  contain: content;
  display: block;
  padding: 0 !important;
  overflow: auto;
  scrollbar-width: none;
}
:host::-webkit-scrollbar {
  width: 0;
  height: 0;
}
:host([hidden]) {
  display: none;
}

/* Content */
.content-wrapper {
  min-width: min-content;
  min-height: min-content;
}
:host([overflow-x-hidden]) .content-wrapper {
  min-width: auto;
}
:host([overflow-y-hidden]) .content-wrapper {
  min-height: auto;
}
.content {
  padding: var(--content-padding);
}

/* Scrollbar's wrapper */
.scrollbar-wrapper {
  z-index: var(--scrollbar-z-index);
  position: sticky;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
  transition: opacity var(--fade-out-transition-duration) ease-in-out var(--fade-out-transition-delay);
}

/* Scrollbar */
.scrollbar {
  contain: strict;
  user-select: none;
  touch-action: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--scrollbar-padding);
  transform: translate3d(0, 0, 0);
  transition: background-color var(--fill-color-transition-duration) ease-out;
}
.scrollbar:hover {
  z-index: 1;
}
.vertical-scrollbar {
  width: var(--scrollbar-width);
  height: var(--viewport-height);
}
.horizontal-scrollbar {
  height: var(--scrollbar-width);
  width: var(--viewport-width);
}
.right-scrollbar {
  left: calc(var(--viewport-width) - var(--scrollbar-width));
}
.bottom-scrollbar {
  top: calc(var(--viewport-height) - var(--scrollbar-width));
}
.scrollbar-wrapper:hover,
:host(:hover) .scrollbar-wrapper,
:host(:focus-within) .scrollbar-wrapper,
:host([touched]) .scrollbar-wrapper {
  opacity: 1;
  transition: opacity var(--fade-in-transition-duration) ease-in-out 0s;
}
.scrollbar.hidden {
  display: none;
}

/* Scrollbar's strack */
.scrollbar-track {
  height: 100%;
  width: 100%;
  background-color: var(--scrollbar-track-fill-color);
  border-radius: var(--scrollbar-width);
  transition: background-color var(--fill-color-transition-duration) ease-out;
}
.scrollbar-track:hover {
  background-color: var(--scrollbar-track-fill-color-hover);
}

/* Scrollbar's thumb */
.scrollbar-thumb {
  height: var(--height, 100%);
  width: var(--width, 100%);
  background-color: var(--scrollbar-thumb-fill-color);
  border-radius: var(--scrollbar-width);
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0);
  transition: background-color var(--fill-color-transition-duration) ease-out;
}
.scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-fill-color-hover);
}
.scrollbar-thumb.active {
  background-color: var(--scrollbar-thumb-fill-color-active);
}

/* Scrollbar visibility */
:host([scrollbar-visibility="never"]) .scrollbar-wrapper {
  display: none;
}
:host([scrollbar-visibility="always"]) .scrollbar-wrapper {
  opacity: 1;
  transition: none;
}
:host([scrollbar-visibility="trackbar"]) .scrollbar-wrapper {
  opacity: 1;
  transition: none;
}
:host([scrollbar-visibility="trackbar"]) .scrollbar-thumb {
  opacity: 0;
  transition:
    opacity var(--fade-out-transition-duration) ease-in-out var(--fade-out-transition-delay),
    background-color var(--fill-color-transition-duration) ease-out;
}
.scrollbar-wrapper:hover .scrollbar-thumb,
:host(:hover) .scrollbar-thumb,
:host(:focus-within) .scrollbar-thumb,
:host([touched]) .scrollbar-thumb {
  opacity: 1;
  transition:
    opacity var(--fade-in-transition-duration) ease-in-out 0s,
    background-color var(--fill-color-transition-duration) ease-out;
}

/* Vertical scrollbar position */
:host([vertical-scrollbar-position="left"]) .right-scrollbar {
  display: none;
}
:host(:not([vertical-scrollbar-position])) .left-scrollbar,
:host([vertical-scrollbar-position="right"]) .left-scrollbar {
  display: none;
}

/* Horizontal scrollbar position */
:host([horizontal-scrollbar-position="top"]) .bottom-scrollbar {
  display: none;
}
:host(:not([horizontal-scrollbar-position])) .top-scrollbar,
:host([horizontal-scrollbar-position="bottom"]) .top-scrollbar {
  display: none;
}

/* Horizontal scrollbar overlay */
:host([horizontal-overflow][scrollbar-overlay="false"]:not([horizontal-scrollbar-position])) .content-wrapper,
:host([horizontal-overflow][scrollbar-overlay="false"][horizontal-scrollbar-position="bottom"]) .content-wrapper {
  padding-bottom: var(--scrollbar-width);
}
:host([horizontal-overflow][scrollbar-overlay="false"][horizontal-scrollbar-position="top"]) .content-wrapper {
  padding-top: var(--scrollbar-width);
}
:host([horizontal-overflow][scrollbar-overlay="false"][horizontal-scrollbar-position="both"]) .content-wrapper {
  padding-bottom: var(--scrollbar-width);
  padding-top: var(--scrollbar-width);
}

/* Vertical scrollbar overlay */
:host([vertical-overflow][scrollbar-overlay="false"]:not([vertical-scrollbar-position])) .content-wrapper,
:host([vertical-overflow][scrollbar-overlay="false"][vertical-scrollbar-position="right"]) .content-wrapper {
  padding-right: var(--scrollbar-width);
}
:host([vertical-overflow][scrollbar-overlay="false"][vertical-scrollbar-position="left"]) .content-wrapper {
  padding-left: var(--scrollbar-width);
}
:host([vertical-overflow][scrollbar-overlay="false"][vertical-scrollbar-position="both"]) .content-wrapper {
  padding-right: var(--scrollbar-width);
  padding-left: var(--scrollbar-width);
}
